# flask
# flask-cors
# pandas
# numpy
# joblib
# scikit-learn
xgboost
# shap
reportlab
# # chart.js   # note: chart.js is used in frontend via CDN; keep for clarity


flask
flask-cors
gunicorn

pandas
numpy
scikit-learn
joblib
shap
matplotlib
scikit-learn==1.6.1
numpy==1.26.4
